# downloads
bin/download/
bin/kafka/

# draw sources
share/*.drawio

# checkpoints
**/.ipynb_checkpoints
**/__pycache__

# tmps
**/tmp/

# custom hidden files
*.hidden

# critical documentation
config/cloudveneto_setup.md

# critical code
bin/spark_analysis.py
bin/spark_analysis_demo.ipynb

# data
data/mapd-minidt-stream/
